<!DOCTYPE html>

<html>
    <head>
        <title>Daftar Mahasiswa</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Daftar Mahasiswa</h1>           
        <a href="tambah.html">Tambah Data</a><br/>        
            <table border="1">
                <thead>
                    <tr>
                        <th>NIM</th>
                        <th>NAMA</th>
                        <th>JURUSAN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="mhs : ${daftarMahasiswa}">
                        <td th:text="${mhs.nim}"></td>
                        <td th:text="${mhs.nama}"></td>
                        <td th:text="${mhs.jurusan}"></td>
                        
                    </tr>
                </tbody>
        </table>
    </body>
</html>
