<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>hoammzzz</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1><center>KMZWAY87AA</center></h1>
    <center><p th:text="${nama}"></p></center>
    <center><p th:text="${jurusan}"></p></center>
    </body>
</html>
